h1,
h2,
h3,
h4,
p,
a {
  padding: 0;
  margin: 0;
}
body {
  background-color: #d9d9d9;
  font-family: "Courier New", Courier, monospace;

  .grid {
    height: 97vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "graph battery battery d"
      "graph b b d"
      "graph b b d"
      "info c c d"
      "info c c d";
    .graph {
      grid-area: graph;
    }
    .info {
      grid-area: info;
    }
    .battery {
      grid-area: battery;
    }
    .b {
      grid-area: b;
    }
    .c {
      grid-area: c;
    }
    .d {
      grid-area: d;
    }
  }
  .module {
    display: flex;
    background-color: #f2f0f0;
    margin: 0.5rem 0.8rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: space-around;
  }
}

.carousel {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.img-wrap {
  display: flex;
  transition: transform 0.5s ease;
}

.img-wrap img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
