<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>EVSD Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>

  <body>
    <form method="post">
      <div class="grid">
        <div class="graph module"></div>
        <div class="info module">
          <h1>Range: 25 km</h1>
          <h1>Weight: 100.000 kg</h1>
          <h1>Battery: {{ batteryCapacity }} MWh</h1>
          <h1>Max Speed: 100 km/h</h1>
          <input type="submit" value="Submit" />
        </div>
        <div class="battery module">
          <h1>Battery</h1>
          <label>Capacity: <input type="number" name="battery-capacity" id="battery-capacity" value="{{batteryCapacity}}" /> MWh</label>
          <p>Weight: 1000 kg</p>
        </div>
        <div class="b module"></div>
        <div class="c module"></div>
        <div class="d module"></div>
      </div>
    </form>
  </body>
  <script src="main.ts"></script>
</html>
